:root {
}

code {
  font-size: 80%;
}

ol {
  margin: -12.6px 0px;
}

section#colophon {
  position: relative;
  float-reference: page;
  float: bottom;
  margin-bottom: 0;
}

section#colophon ul {
  font-size: 1em
}

section#colophon ul.editions {
  padding: 0;
  list-style: none;
}

section#colophon ul.editions time {
  display: inline-block;
  width: 10em;
}

section#colophon table.info {
  margin: 0;
  width: 100%;
  border-top: 2px solid currentColor;
}

section#colophon table.info tr {
  border: 0;
  box-shadow: none;
}

section#colophon table.info tr:last-child {
  border-bottom: 1px solid currentColor;
}

section#colophon table.info td {
  vertical-align: top;
  padding-left: 0;
  font-size: 1em;
}